.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
}

.header {
    height: 81px;
    margin: 0;
    line-height: 81px;
}

.main_menu {
    text-align: center;

}

.main_menu a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #16a085;
    text-transform: uppercase;
    margin: 0 33px;
}


.main {
    height: 1437px;
    background-color: #f5f6f7;
    margin: 0;
    text-align: center;
    color: #373737;
}

h1 {
    font-size: 22px;
    letter-spacing: 0.16em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 51px 0 25px;
}

p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.16em;
    line-height: 26px;
    padding: 0 110px;
    margin-bottom: 25px;
}

p ~ p {
    margin-bottom: 40px
}

.btn {
    width: 192px;
    height: 51px;
    background-color: #16a085;
    border: none;
    border-radius: 3px;
}

.btn-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
    height: 108px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.15em;
    line-height: 108px;
    margin: 0;
    padding-right: 105px;
}