@font-face {

    font-family: "MyriadPro-Regular";
    src: url('../fonts/MyriadPro-Regular.woff ') format("woff");

}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: "MyriadPro-Regular", Myriad, serif;
}

.header_logo {
    height: 180px;
    font-size: 80px;
    line-height: 180px;
    margin-left: -7px;
}

.logo {
    text-decoration: none;
    color: #000;
}

.highlight {
    color: #4bcaff;
}

.header_main_menu {
    height: 70px;
    background-color: #35444f;
    text-align: center;
    line-height: 70px;
}

.header_menu_items {
    font-size: 0;
}

.header_menu_item {
    display: inline-block;
}

.header_link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 20px 40px;
    border-style: none solid;
    border-color: #35444f;
    border-width: 0 1px;
    transition: all 300ms;
}

.header_link:hover {
    background-color: #222f3a;
    border-style: none solid;
    border-color: gray;
    border-width: 0 1px;
}

.main_content {
    margin: 51px 0 0 0;
    font-size: 0;
}

.main_content:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar_links {
    display: inline-block;
    width: 344px;
    margin-right: 53px;
    border: 1px solid #35444f;
    vertical-align: top;
}

.side_link {
    display: block;
    width: 100%;
    font-size: 27px;
    padding: 26px 0 26px 45px;
    text-decoration: none;
    color: #485863;
    transition: all 300ms;
}

.side_link:hover {
    padding-left: 70px;
    color: #000;
    background-color: #dbdbdb;
}

.main_section {
    display: inline-block;
    width: 883px;
}

.image {
    height: 529px;
    border: 1px solid #35444f;
    line-height: 529px;
    text-align: center;
    margin-bottom: 30px;
}

.image img {
    vertical-align: middle;
    transition: all 300ms;
}

.image:hover img {
    transform: scale(1.05);
}

.main_section p {
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    padding: 15px 30px;
}

.footer {
    height: 69px;
    margin: 30px 0;
    background-color: #b4b7ba;
    font-size: 0;
    line-height: 69px;
}

.bottom_menu_item {
    display: inline-block;
}

.bottom_menu_items {
    float: left;
    padding-left: 32px;
}

.bottom_menu_item {
    padding: 0 13px;
}

.footer_link {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    transition: all 300ms;
}

.footer_link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.copyright {
    font-size: 24px;
    text-align: right;
    padding-right: 27px;
}