* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #3a4965;
    font-family: "Arimo", sans-serif;
    padding: 40px;
}

.price {
    --text-color: #484848;
    --bg-standart: #89c331;
    --bg-ultimate: #20807c;
    --bg-premium: #f04a56;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

th, td {
    vertical-align: middle;
}

/*column shadow*/
.price td:first-child,
.head_first_row th:first-child {
    padding-left: 4px;
    border-right: 4px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15)) 1 100%;
}

.price td:nth-child(n+3),
.head_first_row th:nth-child(n+3),
.head_second_row th:nth-child(n+2) {
    padding-right: 4px;
    border-left: 4px solid;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15)) 1 100%;
}

/* table header */

th {
    width: 277px;
}

tbody td:first-child {
    width: 310px;
}

.table__head {
    background: #fafafa;
    font-weight: bold;
}

.head_first_row {
    font-size: 24px;
    height: 70px;
    color: #fff;
}

.head_first_row p {
    color: var(--text-color);
    font-size: 30px;
}

.head_first_row .text_accent {
    font-size: 18px;
}

.head_first_row th:nth-child(2) {
    background-color: var(--bg-standart);
}

.head_first_row th:nth-child(3) {
    background-color: var(--bg-premium);
    font-size: 30px;
}

.head_first_row th:last-child {
    background-color: var(--bg-ultimate);
}

.head_second_row {
    height: 86px;
}

.dollars {
    float: left;
    width: 131px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
    margin-left: 6px;
}

.details {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-top: 6px;
}

.cent {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
}

/* table body */
.main_table {
    height: 69px;
    background: #f2f2f2;
    line-height: 69px;
}

.main_table:nth-child(2n + 1) {
    background: #e3e3e3;
}

.main_table i {
    font-size: 24px;
    padding-right: 13px;
    vertical-align: middle;
}


/* table footer */
.table__footer {
    height: 110px;
}

.table__footer td:first-child {
    background: #dddddd;
}

.table__footer td:nth-child(even) {
    background: #eeeeee;
}

.table__footer td:nth-child(3) {
    background: #f4f4f4;
}

/* buttons */
.btn {
    display: inline-block;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    line-height: 49px;
    color: #fff;
    background: #484848;
    border-radius: 5px;
    border-bottom: 7px solid #404040;
    user-select: none;
    text-decoration: none;
    transition: all 400ms;

}
.contact:hover {
    background: #5c5c5c;
    border-color: #484848;
}

.standard {
    background: var(--bg-standart);
    border-color: #79b027;
}

.standard:hover {
    background: #98d836;
    border-color: var(--bg-standart);
}

.premium {
    background: var(--bg-premium);
    border-color: #df3a46;
}

.premium:hover {
    background: #fb4d5a;
    border-color: var(--bg-premium);
}

.ultimate {
    background: var(--bg-ultimate);
    border-color: #16736f;
}

.ultimate:hover {
    background: #279c97;
    border-color: var(--bg-ultimate);
}

