@font-face {
    font-family: "Verdana";
    src: url('../fonts/Verdana.woff ') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url('../fonts/Verdana-Bold.woff ') format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background: url(../images/background.jpg) no-repeat fixed center;
    font-family: "Verdana", serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    width: 100%;
    height: 54px;
    user-select: none;
    background: rgba(0, 0, 0, .41);
}

.header__content {
    max-width: 1210px;
    margin: 0 auto;
}

.header__title__content {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all 400ms;
}

.header__title__content:hover {
    color: #3cb878;
    cursor: pointer;
}

.header__title {
    float: left;
    line-height: 54px;
}

.header__nav {
    float: right;
}

.link {
    float: left;
    margin-right: 47px;
    line-height: 60px;
}

.link1,
.link2,
.link3 {
    display: inline-block;
    transition: all 400ms;
}

.link1 {
    width: 19px;
    height: 19px;
    background: url('../images/css_sprites_all.png') -10px -10px;
}

.link1:hover {
    background: url('../images/css_sprites_all.png') -10px -50px;
}

.link2 {
    margin: 0 22px;
    width: 28px;
    height: 20px;
    background: url('../images/css_sprites_all.png') -89px -10px;
}

.link2:hover {
    background: url('../images/css_sprites_all.png') -89px -50px;
}

.link3 {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_all.png') -49px -10px;
}

.link3:hover {
    background: url('../images/css_sprites_all.png') -49px -50px;
}

.login {
    float: right;
    position: relative;
    font-size: 14px;
    line-height: 54px;
    color: #fff;
}

.login:before {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.15);
}

.login a {
    text-decoration: none;

}

.highlight {
    color: #3cb878;
    border-bottom: 1px solid transparent;
    transition: all 400ms;
}

.highlight:hover {
    border-bottom-color: #3cb878;
}


/* Modal window */

.modal {
    position: absolute;
    top: calc(50% + 27px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    padding: 26px 61px;
    user-select: none;
}

.modal::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}


/* Left & Right */

.modal__left_part {
    width: 50%;
    float: left;
}

.modal__right_part {
    width: 50%;
    float: right;
    text-align: right;
}

.modal__login {
    padding-top: 5px;
    font-size: 14px;
    color: #3cb878;
    margin-bottom: 17px;
}

.modal__login a {
    text-decoration: none;
}

.modal_signup {
    margin-bottom: 16px;
    font-size: 20px;
    color: #434343;
}


/* buttons */

.social_network_login {
    display: inline-block;
    width: 157px;
    height: 46px;
    text-decoration: none;
    border-radius: 3px;
    position: relative;
    color: #fff;
    font-size: 0;
    line-height: 46px;
}

.fb {
    background-color: #305db8;
    transition: all 400ms;
}

.fb:hover {
    background-color: #264b96;
}

.gplus {
    background-color: #df4a32;
    transition: all 400ms;
}

.gplus:hover {
    background-color: #c3412c;
}

.social_network_login:before {
    content: "";
    width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    top: calc(50% - 14px);
    left: 47px;
}

.btn__name {
    display: block;
    float: right;
    width: 110px;
    font-size: 16px;
    text-align: center;
}

.icon {
    display: block;
    float: left;
    width: 47px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 46px;
}

.break {
    margin: 26px 0 17px;
    color: #848484;
    font-size: 14px;
    text-align: center;
    position: relative;
    padding: 0 5px;
}

.break:after,
.break:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 2px);
    left: 0;
    width: calc(50% - 25px);
    height: 1px;
    background-color: #eaeaea;
}

.break:after {
    right: 0;
    left: auto;
}

.text_field {
    width: 322px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 12px 19px;
    margin-bottom: 11px;
    line-height: 20px;
}

.text_field::placeholder {
    font-size: 14px;
    color: #bebebe;
}

.text_field:focus {
    color: #434343;
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
}

.agree {
    display: block;
    font-size: 14px;
    color: #434343;
    margin: 10px 0 25px;
}

.agree a {
    text-decoration: none;
}

.modal_btn_create {
    width: 322px;
    padding: 12px 0;
    color: #fff;
    background-color: #3cb878;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    transition: all 400ms;
}

.modal_btn_create:hover {
    background-color: #329a65;
    cursor: pointer;
}

.modal__form input[type=checkbox] {
    display: none;
}

.custom_checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 5px;
}

.custom_checkbox::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 9px;
    border-right: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    top: 1px;
    left: 5px;
    transform: rotateZ(45deg);
    opacity: 0;
    transition: all 400ms;
}

.custom_checkbox:hover {
    cursor: pointer;
}

.agree input[type]:checked + .custom_checkbox::before {
    opacity: 1;

}