* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: url(../images/background.png);
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.content_wrapper {
    width: 1065px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 138px;
    padding-top: 49px;
}

.logo {
    display: inline-block;
    background: url(../images/logo.png) no-repeat;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    padding-left: 56px;
    transition: all 300ms;
}

.logo_link {
    text-decoration: none;
    color: #fff;
}

.logo_link:hover{
    color: #f26522;
}

.logo_link:hover .logo{
    background: url(../images/logo_hover.png) no-repeat;;
}

.logo_text_bottom {
    font-size: 18px;
}

.contacts {
    font-size: 18px;
    text-align: right;
    color: #fff;
    padding-top: 5px;
}

.logo:hover .logo_text {
    color: #f26522;
}

.main_section {
    height: 298px;
}

.image_section_cards {
    position: relative;
    width: 311px;
    height: 205px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 17px 24px 0 #000000;
}

.image_section_card {
    position: relative;
    top: 2px;
    left: 2px;
    width: 307px;
    height: 201px;
    text-align: center;
    overflow: hidden;
}

.image_section_card:hover .info {
    bottom: 0;
}

.info {
    position: absolute;
    width: 100%;
    height: 63px;
    bottom: -70px;
    background-color: #f26522;
    transition: all 300ms;
    color: #fff;
}

.left {
    float: left;
}

.center {
    float: left;
    margin: 0 66px;
}

.right {
    float: right;
}

.section_caption {
    margin-top: 21px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.cards_link {
    text-decoration: none;
    color: #fff;
}

.cards_link:hover {
    color: #f26522;
}

.price {
    font-size: 10px;
    text-align: left;
    padding: 16px 0 0 22px;
}

.price_text {
    font-size: 20px;
}

.details {
    position: relative;
    padding: 32px 40px 0 0;
    font-size: 14px;
}

.details a {
    color: #fff;
    text-decoration: none;
}

.details:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 18px;
    width: 6px;
    height: 6px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg) translateY(-50%);
    opacity: 0.5;
}

.footer {
    font-size: 12px;
    text-align: center;
    color: #fff;
}