body {
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #ffbf00;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(25deg);

}

.container {
    width: 80vw;
    position: relative;
    top: 100%;
    animation: starwars 30s linear 1s infinite;
}

.content {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}
.header_text {
    font-size: 100px;
    text-align: center;
}

@keyframes starwars {
    0% {
        top: 100%;
    }

    100% {
        top: -270%;
    }
}