* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    --main_color: #169cb4;
    --main_color_2: #1d2124
}

/*Blue H2*/
.section_headers {
    font-size: 27px;
    font-weight: 700;
    color: var(--main_color);
    text-transform: uppercase;
}

/*Header*/

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(--main_color_2);
    user-select: none;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 70px;
    background-color: #1a1d20;
}

.header__logo_text {
    font-size: 22px;
    font-weight: 700;
    padding: 0 6px;
}

.header__logo_text a {
    text-decoration: none;
    color: #fff;
}

.header__menu {
    flex-grow: 1;
}

.header__menu_items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}

.header__menu_item a {
    text-decoration: none;
    color: #fff;
    padding: 20px 16px;
    text-transform: uppercase;
}

.header__menu_item a:hover {
    background-color: #1a1d20;
}
/*Section Latest news*/

.latest_news {
    justify-content: center;
    width: 100%;
    height: 375px;
    background-image: linear-gradient(
            rgba(36, 36, 36, 0.4),
            rgba(36, 36, 36, 0.4)
    ),
    url("../images/header-bg.jpeg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 102%;
    background-attachment: fixed;
}

.flex_row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.latest_news h2 {
    font-size: 27px;
    color: #fff;
    margin-bottom: 37px;
}

.container {
    max-width: 1171px;
    margin: 0 auto;
    text-align: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*Buttons*/

.btn {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    line-height: 55px;
}

.subscribe {
    background-color: #89ca62;
}

.best_article {
    background-color: var(--main_color);
}

.subscribe:hover {
    background-color: #52ca25;
}

.best_article:hover {
    background-color: #007bb4;
}

/*Section Popular Posts*/

.popular_posts {
    width: 100%;
    height: 1030px;
    background-color: #f2f2f2;
}

.popular_posts h2 {
    padding: 57px 0 50px;
}

.posts_img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-height: 897px;
}

.img {
    width: 370px;
    background-color: #fff;
    margin-bottom: 33px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.03);
}

.img img {
    margin-bottom: 19px;
}

.img a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 23px;
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
}

/*section with grids*/

/*Our clients*/

.our_clients {
    width: 100%;
    height: 589px;
    background-image: linear-gradient(
            rgba(36, 36, 36, 0.4),
            rgba(36, 36, 36, 0.4)
    ),
    url("../images/parallax-bg.jpeg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.our_clients .container {
    display: grid;
    grid-template-rows: 1fr 40px 40px 65px 1fr;
    grid-template-columns: auto repeat(4, max-content) auto;
    grid-column-gap: 75px;
    grid-row-gap: 35px;
    align-items: center;
    height: 100%;
}

.our_clients h2 {
    grid-area: 2 / 2 / 3 / 6;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.our_clients hr {
    grid-area: 3 / 2 / 4 / 6;
    border: none;
    width: 60px;
    height: 3px;
    background-color: var(--main_color);
}

.our_clients__logo1 {
    grid-area: 4 / 2 / 5 / 3;
}

.our_clients__logo2 {
    grid-area: 4 / 3 / 5 / 4;
}

.our_clients__logo3 {
    grid-area: 4 / 4 / 5 / 5;
}

.our_clients__logo4 {
    grid-area: 4 / 5 / 5 / 6;
}

/*Section "Top rated"*/

.top_rated {
    display: grid;
    grid-template-rows: 136px 190px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.top_rated h2 {
    grid-area: 1 / span 7;
    place-self: center;
}

.top_rated a {
    display: grid;
    justify-items: stretch;
    overflow: hidden;
}

.top_rated img {
    width: 102%;
}

/*Section "Hot news"*/

.hot_news h2 {
    text-align: center;
    padding: 55px 0 48px;
}

.grid_hot_news {
    display: grid;
    grid-template-rows: 260px 420px 420px 260px;
    grid-row-gap: 42px;
    height: 1550px;
}

.grid_hot_news h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    padding-right: 25px;
}

.inner-1 h4 {
    padding-top: 40px;
    padding-bottom: 22px;
}

.inner-2 h4 {
    text-align: center;
    padding: 16px 0;
}

.inner-3 h4 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.grid_hot_news p {
    font-size: 14px;
    font-weight: 600;
    color: #5b6469;
    text-align: right;
    padding: 0 25px;
}

.grid_hot_news a {
    text-decoration: none;
    color: var(--main_color_2);
}

.div-1,
.div-2,
.div-3,
.div-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-1,
.div-4 {
    grid-column-gap: 35px;
}

.div-2,
.div-3 {
    grid-column-gap: 60px;
}

.inner-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f7f7;
    width: 858px;
    height: 260px;
}

.inner-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f9f7f7;
    width: 277px;
    height: 260px;
}

.inner-3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f9f7f7;
    width: 557px;
    height: 420px;

}

.grid_hot_news p {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

/*Footer*/

.footer {
    background-color: var(--main_color_2);
    color: #fff;
    font-size: 13px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    height: 79px;
}

.footer img {
    justify-self: end;
}

